{% extends 'base.html' %}
    {% block header_content %}
        {% include 'header.html' %}
    {% endblock %}
    {% block content %}

    <!-- Profiles -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                {% for profile in profiles %}
                <div class="col-sm-4 portfolio-item">
                    <a href="{{ url_for('main_blueprint.monkey_show_profile', monkey_id=profile.id) }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p>{{ profile.name }}</p>
                            </div>
                        </div>
                        <div class="user-photo horizontal-center vertical-center">
                        <img src="/static/img/profile/{{ profile.face_image }}" class="img-responsive" alt="">
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endblock %}